node_modules/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Env
.env*
!.env.tpl

# Misc
.DS_Store
draft.ts
*.bat

# Firebase
.firebaserc

# Docker
# todo(nickbar01234): This is an artifact from directly mounting the code to docker
.pnpm-store

/extension/redux_devtools/
