@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 * Leetcode className flexlayout__layout
 */
:root {
  --color-drag: var(--blue-60);
  --color-drag-background: #007aff14;
  --color-tabset-background: var(--layer-01);
  --color-tabset-tabbar-background: var(--fill-quaternary);
  --color-tabset-tabbar-background-fixed: #fafafa;
  --color-tabset-border: var(--border-secondary);
  --color-tab-divider: var(--border-tertiary);
  --color-tab-hover-background: var(--fill-tertiary);
  --color-tab-hover-background-fixed: #f0f0f0;
  --color-tab-selected: var(--text-primary);
  --color-tab-selected-background: #0000;
  --color-tab-unselected: var(--text-secondary);
  --color-tab-unselected-background: #0000;
  --color-tab-close-background: var(--fill-tertiary);
  --color-tab-close-icon: var(--gray-60);
  --color-tab-close-icon-hover: var(--gray-60);
  --color-splitter: var(--border-tertiary);
  --color-splitter-hover: var(--blue-60);
  --color-splitter-drag: var(--blue-60);
  --color-drag-rect-border: var(--border-tertiary);
  --color-drag-rect-background: var(--layer-02);
  --color-drag-rect: var(--text-primary);
  --color-edge-marker: var(--blue-60);
}
/* add the code bellow */
@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
/* Base Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

i:hover span {
  animation-name: signal-intro;
  animation-play-state: running;
}

.icon__signal-strength span {
  transform-origin: 100% 100%;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.42, 1.3);
  animation-fill-mode: both;
  animation-play-state: paused;
}
.icon__signal-strength .bar-1 {
  height: 33%;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}
.icon__signal-strength .bar-2 {
  height: 66%;
  animation-duration: 0.25s;
  animation-delay: 0.2s;
}
.icon__signal-strength .bar-3 {
  height: 100%;
  animation-duration: 0.2s;
  animation-delay: 0.3s;
}

@keyframes signal-intro {
  from {
    opacity: 0.2;
    height: 2px;
  }
}
